
html {
    background: url(../images/hands.png) no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 2000px 2000px 0 rgba(193,193,193,0.6);
    min-height: 100%;
}

body {
    background: none;
}

#logoText {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bolder;
}

#map {
    width: 100%;
    height: 480px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 480px;
}

#docRow {
    background-color: white;
    width: 87.3%;
    height: 480px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 480px;
    overflow-y: auto;
}

#dropdownMenuButton {
    margin: auto;
    margin-left: 25%;
    margin-top: 10px;
    border-radius: 25px;
}

#clearButton {
    margin: auto;
    border-radius: 25px;
    background-color: red;
}

#docButton {
    background-color: #502059;
    color: white;
    margin: auto;
    border-radius: 25px;
}

#logo{
    margin: auto;
    height: 200px;
    width: 600px;
    border-radius: 25px;
    background: url("../images/logo.jpg");
    position: relative;
}

#innerLogo {
    background-color: black;
    height: 150px;
    width: 90%;
    margin: auto;
    color: silver;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 25px;
    font-size: 3em;
    text-align: center;
}

#foodMenu,
#shelterMenu {
    overflow-y: auto;
    height: 500px;
    font-weight: bolder;
}

.row {
    margin-bottom: 0px;
}